*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto; 
}

.header{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header__menu{
    padding-top: 42px;
}

.header__contact{
    margin-bottom: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.header__main{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position:right center;
    background-size: 44%;

}

.header__content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__title{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
    max-width: 504px;
}

.down__style{
    padding-top: 6px;
}

.header__button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.header__text{
    max-width:425px ;
}

.main__medium{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.main{
    padding-top: 64px;
}

.main__content{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main__content-list{
    max-width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.list__img{
    align-self: center;
    margin-bottom: 51px;
}

.main__small{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding-bottom: 20px;
}

.button{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 29px;
}

.button:hover{
    color: #316099;
}

.memu__footer-text{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.footer__small{
    max-width: 400px;
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.memu__footer{
    margin-bottom: 112px;
}

.footer__item{
    position: relative;
    flex-grow: 1;
}

.footer__item-margin{
    margin-right: 32px;
}

.footer__item-img{
    width: 100%;
}

.footer__item-text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top:64px;
    right: 64px;
}

.footer__item-texts{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    left: 32px;
    top:32px;
}

.footer__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.footer{
    background: #316099;
}

.footer__blog{
    padding-top: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.footer__text{
    max-width:495px;
}

.footer__menu{
    padding-top: 64px;
}

.footer__menu-lists{
    display: flex;
    justify-content: space-between  ;
}

.footer-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    display: inline-block;
    padding: 15px 80px;
}

.menu__list,.menu__lists{
    opacity: 1;
    color: #FFFFFF;
}

.menu__lists{
    display: flex;
    flex-grow: 1;
    flex-basis: 33.3333%;
}

.menu__lists:first-child::before{
    content:'A.';
    display: block;
    margin-right: 16px;
}

.footer__defens{
    padding: 64px 0;
}

.defens__list{
    color: white;
}

/* Контакты */

.white__text{
    color: white;
}

.header__contact-list{
    background-image: url(img/Mask\ Group.png);
    background-size:cover;
    background-repeat: no-repeat;
    max-height: 250px;
    padding: 50px 0;
}

.text__middle{
    text-align: center;
    width: 60%;
    margin: 32px auto;
    color: rgba(255, 255, 255, 0.6);

 }
 
 .main__lists{
     display: flex;
     justify-content: space-around;
 }
 
 .main__list-form,.main__list-info{
     padding: 20px 20px;
 } 
 .main__list-info{
     flex-grow: 1 ;
 }

 .main__list-form{
    flex-grow: 1 ;
 }
 
 .map{
    height: 500px;
    width: 100%;
 }

.adress,.phone,.service{
    margin-bottom: 40px;
}

.adress{
    margin-top: 55px;
}

.list__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    max-width: 300px;
}

.fix__form{
    width: 300px;
}
 
 .list__form{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em; 
    color: #1F3F68;
    padding-bottom: 24px;
 }

.form__list{
    padding-bottom: 48px;
 }

.form__phone{
    display: flex;
}

.container__form{
    padding: 56px;
}

.main__list-form{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.name__form{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-bottom: 8px;
}

.input{
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    padding-left: 40px;
}

.form__name{
    padding-bottom: 30px;
}

.input__text{
    padding-top: 20px;
    height: 140px;
}

.button_input{
    background: #5A98D0;
    color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    width: 100%;
    margin-top: 70px;
    height:70px;
}

.margin{
    max-width: 1140px;
    margin: 0 auto; 
}

.main__map{
    padding: 96px 0 112px 0;
}

@media (max-width : 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .header__main{
        background-position: right 280px;
        padding-bottom: 120px;
    }

    .main__content{
        flex-direction: column;
        align-items: center;
    }

    .main__content-list{
        margin-bottom: 32px;
    }

    .footer__button{
        padding: 5px 35px;
    }
    
    .footer-text{
        max-width: 60%;
    }
    .footer__blog{
        justify-content: space-around;
    }

    .footer__defens,.footer__menu-lists{
        margin-left: 40px;
    }

    .footer__menu-lists{
        flex-direction: column;
    }

    .menu__lists:not(:last-child){
        margin-bottom: 25px;
    }

    .main__lists{
        flex-direction: column;
        align-items: center;
    }
    
    .main__list-form{
        width: 500px;
    }

}

@media(max-width: 667px){
    .header{
        padding-top: 24px;
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box ;
    }

    .header__main{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        padding-bottom: 0;
    }

    .header__title{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        text-align: center;
    }

    .header__button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .header__text{
        width: 100%;
        text-align: center;
    }

    .main{
        padding-top: 48px;
    }

    .main__content{
        padding-top: 32px;
    }

    .main__medium{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .main__content-list{
        width: 100%;
    }

    .memu__footer-text{
        width: 100%;
    }

    .footer__item-text{
        font-size: 16px;
        line-height: 19px;
        top:16px;
        right: 16px;
    }
    
    .footer__item-texts{
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .footer__item-margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer__small{
        font-size: 24px;
        line-height: 28px;
        max-width: 75%;
        text-align: center;
        margin: 0 auto 32px;
    }

    .footer__text{
        padding-bottom: 40px;
        text-align: center;
    }

    .footer-text{
        max-width: 100%;
    }

    .footer__blog {
        margin-bottom: 40px;
        flex-direction: column;
    }

    .footer__defens,.footer__menu-lists{
        margin-left: 0;
    }

    .footer__defens{
        padding: 32px 0;
    }

    .defens__list{
        text-align: center;
    }

    .main__list-form{
        width: 340px;
    }

    .header__contact-list{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .text__middle{
        width: 90%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
    }

    .input{
        height: 45px;
    }
    
    .container__form{
        padding: 35px;
    }

    .input__text{
        height: 90px;
    }

    .button_input{
        height:45px;
        margin-top: 45px;
    }

    .name__form{
        padding-bottom: 4px;
    }
}


