*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
footer__column-item:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: Raleway;
    background-color: #24252D;
}
img{    
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    margin: 0px auto;
    max-width: 1440px;
    padding: 0 15px; 
    box-sizing: content-box;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-container>*:not(:last-child){
    margin: 0 0 20px 0;
}
.text-title {
    background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 800;
    font-size: 36px;
    line-height: 116%;
    letter-spacing: 0.02em;
}
.subtitle {
    line-height: 167%;  
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 518px;
}
/*-------------------------BOX------------------------------*/

.container-1{
    position: relative;
}

.container-1 input#search{
    min-width: 550px;
    max-width: 50px;
    height: 40px;
    background: #1B1A21;
    border: none;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    float: left;
    color: #FFFFFF;
    padding-left: 45px;
    border-radius: 10px;
  }
 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 11px;
    z-index: 1;
    color: #FFFFFF;
 }

 .container-1 input#search::placeholder{
    color: #ffffff;
    font-weight: 400;
 }
/*------------PAGE----------------------*/
.page{
    flex: 1 1 auto;
}
.page__discover{
    margin: 197px 0 80px 0;
}
/*------------HEADER----------------------*/

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__body{
    display: flex;
    min-height: 92px;
    align-items: center;
    justify-content: space-around;
}
.header__body>*:not(:last-child){
    margin: 0 30px 0 0;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo>*:not(:last-child){
   margin: 0 20px 0 0;
}
.text__logo {
    font-weight: 900;
    line-height: 116%;
    letter-spacing: 0.02em;
}
.menu__list {
    display: flex;
}
.menu__list>*:not(:last-child){
    margin: 0 40px 0 0;
}
.menu__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 118%;
    letter-spacing: 0.02em;
    transition: all 0.3s ease 0s;
    color:#737373;
}
.menu__item:hover{
    color:#ffffff;
}
.button__item {
    display: flex;
}
.button__item>*:not(:last-child){
    margin: 0 12px 0 0;
}
.button {
    border-radius: 10px;
    border: 1px solid #FF00AF;
    padding: 10px 33px;
    color:#FF00AF;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
    color: #ffffff;
}
.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 118%;
    letter-spacing: 0.02em;
}

/*------------DISCOVER------------*/
.discover__content-full {
    display: flex;
    flex-direction: column;
}
.discover__body {
    display: flex;
    align-items: center;
}
.discover-flex{
    flex: 1 1 50%
}
.discover__content>*:not(:last-child){
    margin: 0 0 50px 0;
}
.discover__title {
    background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
    font-size: 48px;
    line-height: 170%;
    font-family: Poppins;
}
.discover__text {
    line-height: 144%;
    text-align: left;
    max-width: 520px;
}
.discover__button {
    padding: 14px 50px;
}
.discover__sound {
    margin: 80px 0 0 0;
    display: flex;
    align-items: center;
}
.discover__sound>*:not(:last-child){
    margin: 0 35px 0 0;
}
.sound__image {
    background: #000000;
    border-radius: 38px;
    border: solid black 17px;
}

/*------------------TREND---------------*/

.trend__text{
    margin: 0 0 55px 0;
}
.text-title {
    font-family: Raleway;
    font-weight: 800;
    font-size: 36px;
    line-height: 116%;
    letter-spacing: 0.02em;

}
.subtitle {
    font-family: Raleway;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02em;
}
.trend__cards {
    display: flex;
    justify-content: space-between;
}
.trend__card {
    flex: 1 1 20%;
    max-width: 213px;
}
.trend__card:not(:last-child){
    margin: 0 34px 0 0;
}
.trend__column {
    background-color: #202128;
    display: flex;    
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.trend__num {
    align-self: start;
    background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
    mix-blend-mode: normal;
    border-radius: 10px;
    width:41px;
    height: 41px;
    padding: 10px 0 0 10px;
    font-weight: 800;
    font-size: 16px;
    line-height: 116%;
    letter-spacing: 0.02em;
    margin: 20px 0 0 20px;
}
.trend__name {
    margin: 32px 0 10px 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.02em;
}
.trend__subscribe {
    margin: 0 0 43px 0;
    font-size: 18px;
    line-height: 116%;
    letter-spacing: 0.02em;
}

/*------------------PICTURE------------*/
.pictures__text {
    margin: 105px 0 67px 0;
}
.pictures__subtitle {
    max-width: 634px;
}
.pictures__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -55px;
}
.pictures__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture__body {
    flex: 1 1 25%;
    display: flex;
    justify-content: center;
}
.pictures__column {
    padding: 15px;
    border-radius: 40px;    
    background-color: #202128; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    margin-bottom: 47px;
}
.picture__subpicture {
    display: flex;
}
.subpicture__content {
    margin: 0 0px 0 -100px;
}
.subpicture__title {
    margin: 25px 0 10px 0;
}
.subpicture__subtitle {
    margin-bottom: 43px;
}
.subpicture__img {
    position: relative;
}
.img-subpicture{
    position: absolute;
}
.pictures__button{
    border-radius: 10px;
    border: 1px solid #FF00AF;
    color: #FF00AF;
    transition: all 0.3s ease 0s;
    padding: 20px 150px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 27px 0 100px 0;
}
.pictures__button:hover{
    background: linear-gradient(135deg, #FF00B8 7.81%, #FF005C 100%);
    color: #ffffff;
}

/*------------footer----------------*/

.footer__body {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
}
.footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__form>*:not(:last-child){
    margin: 0 0 30px 0;
}
.footer__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.form__subscribe {
    display: flex;
    align-items: center;
    position: relative;
}
.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 40px;
    background: #1B1A21;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    padding: 0 22px;
    color: #FFFFFF;
}
.subscribe__button {
    background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    border-radius: 10px;
    letter-spacing: 0.2px;
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: center;    
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    width: 50%;
    position: absolute;
    left: 205px;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.footer__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 0 0 24px 0;
}

.footer__column-list>*:not(:last-child) {
    margin: 0 0 12px 0;
}
.footer__column-item {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    font-feature-settings: 'salt' on, 'liga' off;
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}
.contact__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
}
.contact__image-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact__image-list>*:not(:last-child){
    margin: 0 20px 0 0;
}
.footer__column-link:hover{
    text-decoration: underline;
}